@font-face {
  font-family: "NotoSansKR";
  src: url(./NotoSansKR.otf);
}

.bookmarkbackground {
  height: 132px;
  width: 1280px;
  background-color: #f5f5f5;
}
.bookmarkTitle {
  position: relative;
  left: 150.7px;
  top: 68px;
}

.bookmarkMaintitle {
  font-family: NotoSansKR;
  font-size: 43px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.05;
  letter-spacing: normal;
  text-align: left;
  color: #535353;
}
.bookmarkSubtitle {
  position: relative;
  font-family: NotoSansKR;
  font-size: 30px;
  font-weight: bold;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.05;
  letter-spacing: normal;
  text-align: left;
  color: #535353;
}
.bookmarkAddbtn {
  position: relative;
  left: 813.3px;
  top: 82px;
}
.bookmarkDelbtn {
  position: relative;
  left: 828.3px;
  top: 82px;
  width: 72px;
  height: 33px;
  object-fit: contain;
}

.BookmarkAddbutton {
  width: 84px;
  height: 33px;
  object-fit: contain;
}
.BookmarkDeletebutton {
  width: 72px;
  height: 33px;
  object-fit: contain;
}
.bmarkTitlebuttom {
  position: relative;
  width: 1280px;
  height: 64px;
  background-color: #f5f5f5;
}
.bmarkPostBackground {
  width: 1280px;
  display: block;
  height: auto;
  padding-left: 100px;
  padding-right: 145px;
  padding-bottom: 56px;
  background-color: #f5f5f5;
}

.bmarkPhotobk {
  width: 300px;
  height: 300px;
  border-radius: 13px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
.bptl {
  position: absolute;
  border-top-left-radius: 13px;
  top: 0px;
  left: 0px;
  width: 149px;
  height: 149px;

  background-color: #e3e3e3;
}

.bptr {
  position: absolute;
  border-top-right-radius: 13px;
  top: 0px;
  right: 0px;
  width: 149px;
  height: 149px;

  background-color: #e3e3e3;
}

.bpbl {
  position: absolute;
  border-bottom-left-radius: 13px;
  top: 151px;
  left: 0px;
  width: 149px;
  height: 149px;
  background-color: #e3e3e3;
}

.bpbr {
  position: absolute;
  border-bottom-right-radius: 13px;
  top: 151px;
  right: 0px;
  width: 149px;
  height: 149px;
  background-color: #e3e3e3;
}
.bmarkptbk {
  display: inline-flex;
  position: relative;
  margin-left: 45px;
  margin-top: 46px;

  width: 300px;
  height: 336px;

  background-color: transparent;
}

.bmarkptbk:hover {
  top: -8px;
}
.bkname:hover {
  background-color: #c0c0c0;
}
.bkname {
  z-index: 20;
  position: absolute;
  top: 309px;
  left: 6px;
  font-family: NotoSansKR;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #535353;
}
.bkimg1 {
  border-top-left-radius: 13px;
  width: 149px;
  height: 149px;
  object-fit: cover;
}
.bkimg2 {
  border-top-right-radius: 13px;
  width: 149px;
  height: 149px;
  object-fit: cover;
}
.bkimg3 {
  border-bottom-left-radius: 13px;
  width: 149px;
  height: 149px;
  object-fit: cover;
}
.bkimg4 {
  border-bottom-right-radius: 13px;
  width: 149px;
  height: 149px;
  object-fit: cover;
}

.addBmarkText {
  width: 230px;
  height: 40px;
  box-sizing: border-box;
  font-size: 20px;
}
.delBmarkBtn {
  position: absolute;

  top: 0px;
  width: 90px;
  height: 32px;
  font-size: 16px;
  color: #ffffff;
  border-radius: 20px;
  background-color: #0070ef;
}
.popupbkBox {
  position: relative;
  width: 300px;
  margin: 0 auto;
  height: 32px;
  left: 452px;
  top: 54px;
  background: transparent;
  border-radius: 3px;
  overflow: auto;
}
.bkDtBackground {
  width: 1280px;
  height: 50px;
  top: 0px;
  left: 0px;
  background-color: #ffffff;
}
// .popupbkdelBackground {
//   position: absolute;

//   /* 이 방법이 옳지 못한거 같은데 다른 방법이 없을지? */
//   z-index: 10;

//   width: 100px;
//   height: 100px;
//   top: 50px;
//   left: 692px;
// }

.popupbkBackground {
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 9999px;
  /* 이 방법이 옳지 못한거 같은데 다른 방법이 없을지? */
  z-index: 10;
  background: #00000050;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.bkDtName {
  position: relative;
  width: auto;
  height: 64px;
  top: 68px;
  left: 81.7px;
}
.bkDtNamefirst {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-family: NotoSansKR;
  font-size: 43px;
  font-weight: bold;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #535353;
}
.bkpathId {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 900px;
  background-color: antiquewhite;
}
.btDTpage {
  position: relative;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 132px;
  background-color: #f5f5f5;
}
.bkDtNamesecond {
  width: 133px;
  height: 64px;
  margin: 0 7.1px 0 0;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-family: NotoSansKR;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #535353;
}
.bkDtNameEdit {
  position: relative;
  top: 8.4px;
  left: 6.1px;
  width: 27.1px;
  height: 27.1px;
  object-fit: contain;
}
.bkDtPlanEdit {
  position: absolute;
  top: 82px;
  right: 173px;
  width: 146px;
  height: 33px;
  object-fit: contain;
}
.bkDtDelete {
  position: absolute;
  top: 82px;
  right: 83px;
  width: 72px;
  height: 33px;
  margin: 0 0 0 18px;
  object-fit: contain;
}
.bkDtpostBackground {
  width: 1280px;
  display: block;
  height: auto;
  padding-left: 50px;
  padding-right: 83px;
  padding-top: 73px;
  background-color: #f5f5f5;
}

.bkDtpostBox {
  display: inline-flex;
  position: relative;
  // margin-left: 29px;
  // margin-top: 73px;
  // margin-bottom: 25px;
  width: 200px;
  height: 275px;
}

.bkDtpostBackgroundbuttom {
  position: relative;
  width: 1280px;
  height: 61px;
  background-color: #f5f5f5;
}
.bookamarkchiocebtn {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.bkDtmark {
  z-index: 2;
  position: absolute;
  top: 11.5px;
  right: 14px;
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.bmarkBkButton {
  z-index: 3;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: transparent;
  border-color: transparent;
}
.bookmarkClicked {
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 1;
  width: 220px;
  height: 302px;
}
.bookmarkChecked {
  position: absolute;
  top: 2px;
  right: 4px;
  z-index: 6;
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.bookmarkCheckedButton {
  position: absolute;
  top: 10px;
  right: 11px;
  z-index: 1;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border-radius: 40px;
  border-color: transparent;
}

.privatePostTitle {
  z-index: 14;
  position: absolute;
  top: 112.1px;
  left: 57px;
}

.privatePostBk {
  margin: 4px 4px 4px 4px;
  z-index: 12;
  border-radius: 3px;
  position: absolute;
  top: 4px;
  left: -4px;
  width: 200px;
  height: 278px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: transparentize($color: #fff, $amount: 0.25);
}

.bkpostBox {
  position: relative;
  margin-top: 8px;
  width: 200px;
  height: 278px;
  border-radius: 3px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
.bringbmarkClick {
  z-index: 20;
  position: absolute;
  top: 19px;
  right: 13px;
  width: 31px;
  height: 31px;
  border-radius: 20px;
  background-color: transparent;
  border-color: transparent;
}

.bringbmarkClickbox {
  display: inline-flex;
  position: relative;
  margin-left: 29px;
  margin-top: 73px;
  margin-bottom: 25px;
  width: 200px;
  height: 275px;
}
.bkmainbookamarkchiocebtn {
  z-index: 10;
  position: absolute;

  top: 5px;
  right: 5px;
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.bmarkptbkdel {
  display: inline-flex;
  position: relative;
  margin-left: 45px;
  margin-top: 46px;
  width: 300px;
  height: 336px;

  background-color: transparent;
}

.bringbmarkdelClickbox {
  z-index: 15;
  position: absolute;

  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  border-radius: 40px;
  background-color: transparent;
}
.bookmarkdelClicked {
  z-index: 8;
  position: absolute;
  width: 300px;
  height: 300px;

  object-fit: contain;
  border-radius: 13px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  border: solid 3px #0070ef;
  background-color: rgba(0, 0, 0, 0.2);
}

.bookmarkdelChecked {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 6;
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.BookmarkDeletecancelbutton {
  position: absolute;
  top: -18px;
  left: 30px;
  width: 72px;
  height: 32px;
}
.BookmarkDeletecancelbuttonbg {
  position: relative;
  background-color: transparent;
  top: 0px;
  left: 110px;
}
.BookmarkDeletebuttonName {
  position: absolute;
  width: 30px;
  height: 20px;
  font-size: 15px;
  top: -14px;
  left: 52px;
  background-color: #e2e1e1;
}
.bmarkCheckcontainer {
  z-index: 10;
  position: relative;
  top: 21.5px;
  left: 193px;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;

  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.bmarkCheckcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 26px;
  width: 26px;
  background-color: transparent;
  border-radius: 27px;
}

/* On mouse-over, add a grey background color */
.bmarkCheckcontainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.bmarkCheckcontainer input:checked ~ .checkmark {
  background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.bmarkCheckcontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.bmarkCheckcontainer .checkmark:after {
  left: 8px;
  top: 3.5px;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 3.5px 3.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.bringtoplanbtn {
  z-index: 10;
  position: absolute;
  top: 82px;
  right: 173px;
  width: 146px;
  height: 33px;
  object-fit: contain;
  border-color: transparent;
  background-color: transparent;
}
.bringtoplanbtnbackground {
  top: 82px;
  right: 173px;
  width: 146px;
  height: 33px;
  object-fit: contain;
}
.BmarktoplanHead {
  position: absolute;
  top: 20px;
  left: 22px;
  width: 200px;
  height: 29px;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-family: NotoSansKR;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #535353;
}
