$darkgray: #bfbfbf;
$blue: #0070ef;
.box-container {
  display: inline-block;
  .stack {
    position: relative;
    z-index: 1;
    .stack-img {
      width: 230px;
    }
    .contentbox {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 14px;
      width: 200px;
      height: 200px;
      .imageSection {
        height: 185px;
        margin: 0 0 7.8px;
        padding: 165px 150px 0 0;
        background-color: white;
        position: relative;
        .image_fix {
          width: 200px;
          height: 185px;
          min-width: 100%;
          min-height: 100%;
          position: absolute;
          top: 0px;
          left: 0px;
        }
        .tagSection {
          position: absolute;
          text-align: left;
          width: 80px;
          height: 20px;
          padding: 1px 10px 1px 11px;
          background-color: $blue;
          color: white;
          font-size: 10px;
        }
      }
      .infoSection {
        height: 79px;
        .title {
          width: 120px;
          margin: 0 0 0 5px;
          font-family: NotoSansKR;
          font-size: 15px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.47;
          letter-spacing: normal;
          text-align: left;
          color: #535353;
        }
        .cost {
          font-family: NotoSansKR;
          font-size: 18px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          color: #0070ef;
          position: absolute;
          width: 70px;
          text-align: right;
        }
        .date {
          margin: 0px 0px 2px 5px;
          font-family: NotoSansKR;
          font-size: 12px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #b5b5b5;
        }

        .rate {
          text-align: right;
          justify-content: right;
          position: absolute;
          .rate-text {
            margin: 0 0 0 3.5px;
            font-family: NotoSansKR;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: #ef9f00;
          }
        }
      }
    }
    .cost-sort {
      width: 160px;
      .cost-image {
        width: 10.5px;
        height: 12.9px;
        margin: 3.3px 2.4px 1.9px 9.2px;
        object-fit: contain;
      }
      .cost-text {
        font-size: 12px;
        color: #535353;
        margin: 0 2.4px 0 2.4px;
        -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
        line-height: 1.5;
      }
    }
  }
  .stack:hover {
    top: -8px;
  }
}
