$gray: #f5f5f5;
$darkgray: #535353;
$gray: #767676;
$blue: #0070ef;

.setup {
  .profileImage {
    display: block;
    margin: 40px auto 60px auto;
    width: 174px;
    height: 174px;
  }
  .info {
    .infoBox {
      display: block;
      margin: auto;
      width: 300px;
      .name {
        font-size: 12px;
        color: $darkgray;
      }
      .box {
        width: 300px;
        text-align: left;
        font-size: 16px;
        margin-bottom: 30px;
        border: none;
        border-bottom: 2px solid $blue;
        color: $gray;
        outline: none;
      }
      .edit {
        text-decoration: underline;
        font-size: 14px;
        text-align: right;
      }
      .change-btn {
        display: inline-block;
        position: absolute;
        font-size: 12px;
        border: 2px solid $blue;
        border-radius: 5px;
        background-color: $blue;
        color: white;
      }
    }
  }
}
