$lightgray: #f5f5f5;
$gray: #767676;
$darkgray: #535353;
$blue: #0070ef;

.setup {
  .profileImage {
    display: block;
    margin: 6vh auto 6vh auto;
    width: 174px;
    height: 174px;
  }
  .info {
    .msg {
      text-align: center;
      color: $blue;
      font-weight: 400;
      font-size: 12px;
      margin-bottom: 30px;
    }
    .error-msg {
      text-align: center;
      color: red;
      font-weight: 400;
      font-size: 12px;
      margin-bottom: 30px;
    }
    .profileBox {
      .profile-btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid $blue;
        border-radius: 10px;
        background-color: $blue;
        width: 10vw;
        color: white;
      }
      margin-bottom: 8vh;
    }
    .infoBox {
      display: block;
      margin: auto;
      width: 24vw;
      .name {
        color: $darkgray;
        font-weight: 500;
        font-size: 1vw;
      }
      .box {
        width: 24vw;
        font-size: 1.2vw;
        margin-bottom: 30px;
        border: none;
        border-bottom: 2px solid $blue;
        color: $gray;
        outline: none;
      }
      .edit {
        font-size: 1vw;
        text-align: center;
        a {
          color: $darkgray;
          text-decoration: underline;
        }
      }
      .change-btn {
        display: inline-block;
        position: absolute;
        font-size: 0.9vw;
        border: 2px solid $blue;
        border-radius: 10px;
        background-color: $blue;
        color: white;
      }
    }
  }
}
