.tobar{
    position: relative;
  }

.atopbar-title{
    z-index: 1;
    position: absolute;
    top: 120px;
    left: 20px;
    width: 297px;
    height: 29px;
    margin: 0 154px 29px 81px;
    font-family: 'Noto Sans KR', sans-serif;    
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.6;
    letter-spacing: normal;
    text-align: left;
    color: #535353;
   
   
}

.aproduct-topbar{
    z-index: 3;
    position: absolute;
    top: 105px;
    left: 1100px;
    padding: 5px;

    width: 53.1px;
    height: 20px;
}

//수정 사항 점검o