.footer{
    position: relative;
    width: 1280px;
    height: 1363px;
    background-color: #ffffff;
    .footer_icon{
        position: absolute; left: 50%;
    
        width: 75.1px;
        height: 18.3px;
        margin: 0 49px 0px 0;
        object-fit: contain;
    }
    
    .footer_text1{
        width: 44px;
        height: 18px;
        margin: 0.3px 27px 0 49px;
        object-fit: contain;
        -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
        font-family: 'Noto Sans KR', sans-serif;  
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #535353;
    }
    
    .footer_text2{
        width: 91px;
        height: 18px;
        margin: 0.3px 27px 0;
        object-fit: contain;
        -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
        font-family: 'Noto Sans KR', sans-serif;  
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #535353;
    }
    
    .footer_text3{
        width: 91px;
        height: 18px;
        margin: 0.3px 27px 0;
        object-fit: contain;
        -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
        font-family: 'Noto Sans KR', sans-serif;  
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #535353;
    }
    
    .footer_text4{
        width: 217px;
        height: 18px;
        margin: 0.3px 0 0 27px;
        -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
        font-family: 'Noto Sans KR', sans-serif;  
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #535353;
    }
}
