.product {
    position: absolute;
    /* relative */
    top:50px;
    left: 10px;

    width: 200px;
    height: 264px;
    margin: 0 0 12px;
    padding: 0 0 8.8px;
    border-radius: 3px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
}

.tag_text{
    width: 80px;
    height: 18px;
    margin-left: 3px;
    font-family: NotoSansKR;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.tag {
    position: absolute;
    top:165px;
    left: 0;
    

    width: 50px;
    height: 20px;
    padding: 1px 1px 1px 3px;
    background-color: #0070ef;
    
}
/* 
.product_position {
    position: absolute;
    top:50px;
    left: 10px;
} */

.product_name {
    width: 55px;
    height: 22px;
    margin: 10.3px 65px 0 9px;
    font-family: NotoSansKR;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: left;
    color: #535353;
}

.icons{
    display: inline;
    float: left;
    font-size: 12px;
    margin: 2px 0px 2px 6px;
  }

  
.icons_threeof{
  display: inline;
  width: 13px;
  height: 18px;
  margin: 0 9.2px 0 2.6px;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-family: NotoSansKR;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #535353;
}
.icons_star{
    display: inline;
}

.plan {
    width: 51px;
    height: 18px;
    margin: 32.3px 67px 2px 11px;
    font-family: NotoSansKR;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #b5b5b5;
}

.price {
    position: absolute;
    top:75%;
    right: 10px;
    color: #0070ef;
    font-size: 18px;
    font-weight: bolder;
}

.product_Writer_container{
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 10px;
}
.product_Writer_day{
    width: 120px;
    height: 18px;
    margin: 2px 10px 0 10px;
    font-family: NotoSansKR;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #a4a4a4;
}

.product_Writer_img{
    border-radius: 50%;
    float: left;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0px 2px 0 0;
}
.product_Writer{
    width: 120px;
    height: 20px;
    margin: 5px 10px 2px 10px;
    font-family: NotoSansKR;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}
