//0523 1차 수정 완료 => 재수정 필요,

.search-main_background {
  .btn {
    position:absolute;
      /* width:100%; */
    top:110%;
    left:50%;
  }
  
  .Search_topbar {
    //0523수정필요
    position: relative;
    left: 20%;
    top: 50px;
  }
  
  .container {
    position:absolute;
    top:-50px;
    left: 10%;
  }
}