.tobar{
  position: relative;
}
.topbar-title{
    position: absolute;
    top: 60px;
    left: 20px;
   
    width: 297px;
    height: 29px;
    margin: 0 154px 29px 81px;
    font-family: 'Noto Sans KR', sans-serif;    
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.6;
    letter-spacing: normal;
    text-align: left;
    color: #535353;
   
}

.product-topbar{
    position: absolute;
    top: 40px;
    left:70%;
    padding: 5px;
}


  