//수정사항 확인 완료
.topbar-title{
    z-index: 1;
    position: absolute;
    // top: 30px;
    left: 2%;
    width: 400px;
    height: 29px;
    margin: 0 154px 29px 81px;
    font-family: 'Noto Sans KR', sans-serif;    
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.6;
    letter-spacing: normal;
    text-align: left;
    color: #535353;
   
}

.product-topbar{
  z-index: 3;
  position: absolute;
  top: 10%;
  right: 8%;
  padding: 5px;

  width: 53.1px;
  height: 20px;
}


  