.bookmark-container {
    position: fixed;
    width : 1280px;
    transition-duration: 0.5s;
    z-index: 30;
    p {
        margin:0;
    }
    .bookmark-arrow{
        cursor: pointer;
        width: 225px;
        height : 30px;
        margin: 0 auto;
        text-align: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: solid 1.1px #0070ef;
        border-bottom: solid 1px white;
        position: relative;
        z-index: 30;
        margin-bottom:-2px;
    }
    .bookmark-activation-color {
        color : #535353;
        background-color: #ffffff;
    }
    .bookmark-deactivation-color {
        color:#ffffff;
        background-color: #0070ef;
    }
    
    .bookmark-info {
        width: 1280px;
        height: 370px;
        border: solid 1.1px #0070ef;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: #ffffff;
        position: relative;
        z-index: 29;
        p {
            margin-top:10px;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            color: #535353;
        }
        .bookmark-list {
            display: flex;
            overflow-x: hidden;
            height: 300px;
            width: 1190px;
            margin: 17px 0 0 43px;
        }
        .list-arrow {
            position: absolute;
            top:0;
            height: 100%;
            button {
                margin: 165px 0;
            }
        }
        .left {
            left:0;
        }
        .right {
            right:0;
        }
    }
}
.bookmark-activation {
    bottom:0px;
}
.bookmark-deactivation {
    bottom:-370px;
}
.bookmark-on {
    height: 400px;
}
.bookmark-off {
    height: 50px;

}