.post-list-container {
    display: flex;
    width:1280px;
    p {
        margin:0;
    }
    .post-circle-line {
        margin-left : 95px;
        width: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .circle{
            width: 20px;
            height:20px;
            background-color: #0070ef;
            border-radius: 20px;
        }
        .line{
            width: 1px;
            height: 360px;
            background-color: #707070;
        }
    }
    .post-list {
        margin-left: 30px;
        p {
            color:#535353;
            font-weight: bold;
            // button {
            //     margin-left: 10px;
            //     width: 72px;
            //     height: 33px;
            //     border-radius: 5px;
            //     background-color: white;
            //     border: 1px solid #d9d9d9;
            //     color: #535353;
            // }
        }
        .post-wrap {
            height: 355px;
            display: flex;
            max-width: 1100px;
            overflow-x: hidden;
            position: relative;
            align-items: center;
            .list-arrow {
                position: absolute;
                height: 100%;
                button {
                    margin: 165px 0;
                }
            }
            .left {
                left:0;
            }
            .right {
                right:0;
            }
            .list {
                height: 355px;
                display: flex;
                max-width: 1100px;
                overflow-x: hidden;
                position: relative;
                align-items: center;
            }
        }
        .add-post {
            cursor: pointer;
            width: 200px;
            min-width: 200px;
            height: 275px;
            border-radius: 3px;
            background-color: #dedede;
            border : 1px solid white;
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
            // box-shadow: ;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 60px;
            color: #9b9b9b;
        }
    }
}