//수정확인 O => 결과 확인필요
.home-product-shadowbox {
    cursor: pointer;
    width: 230px;
    height: 300px;
    padding: 0 13px 0 15px;
    margin-bottom: 70px;
    .product-img {
        img {
            position: absolute;
            max-width: 201px;
            max-height: 185px;
            min-width: 201px;
            min-height: 185px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
        .product-tag {
            position: absolute;
            height: 20px;
            padding: 1px 10px 1px 10px;
            background-color: #0070ef;
            margin-top: 165px;
            font-size: 12px;
            color: #ffffff;
            min-width: 55px;
        }
    }
    .product-info {
        margin-top: 185px;
        .info-top {
            height: 30px;
            .product-title {
                float: left;
                width: 100px;
                height: 30px;
                font-size: 15px;
                color: #535353;
                padding : 10px 0 0 10px;
            }
            .product-price {
                float: right;
                color: #0070ef;
                width: 100px;
                height: 30px;
                font-size: 18px;
                text-align: right;
                padding: 7px 10px 0 0;
            }
        }
        .info-mid {
            padding-left: 10px;
            .product-date {
                width: 100px;
                height: 18px;
                font-size: 12px;
                color: #b5b5b5; 
            }
        }
        
        .info-bottom {
            width: 200px;
            height: 30px;
            padding: 0 10px;
            .product-top-three {
                min-width: 30px;
                float: left;
                margin-right: 5px;
                .icon {
                    margin-right: 1.5px;
                }
                .plan {
                    font-size:12px;
                }
            }
            .product-rating {
                float:right;
                .icon {
                    margin-right: 3.5px;
                }
                .rating {
                    font-size: 12px;
                    color : #ef9f00;
                }
            }
        }
    }
}
