.header-container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 77px;
    width: 100%;
    border: solid 1px #dfdfdf;
    background : #ffffff;
    z-index: 40;
    
    .quick-container {
        display:flex;
        justify-content: flex-end;
        margin-right : 45px;
        width: 400px;
        .login-button {
            width: 64px;
            height: 31px;
            border: solid 1px #b5b5b5;
            color: #535353;
            text-align: center;
            font-family: "Noto Sans KR";
            line-height: 1.8;
        }
        .profile-ficture{
            width: 38px;
            height : 38px;
            border : 1px solid #dfdfdf;
            border-radius : 22px;
            margin-right : 32px;
            img {
                width: 100%;
                height: 100%;
                border-radius: 23px;
            }
        }
    }

}
.spacer {
    height: 77px;
}