$darkblue: #2b71f3;
$blue: #66a7ff;
$darkgray: #535353;
$gray: #c1c1c1;
$lightgray: #d9d9d9;
$lightergray: #f5f5f5;

.template {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 200;
    color: $darkgray;
    text-align: center;
  }

  h1 {
    font-size: 3.3vw;
  }

  h2 {
    font-size: 2.2vw;
  }

  h3 {
    font-size: 1.8vw;
  }

  h4 {
    font-size: 1.3vw;
  }

  h5 {
    font-size: 1vw;
  }

  h6 {
    .style01 {
      font-size: 1.1vw;
    }
    .style02 {
      font-size: 0.8vw;
    }
  }

  .full-screen {
    position: absolute;
    display: flex;
    background-color: $lightergray;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    justify-content: center;
    height: 100%;

    .white-screen01 {
      display: flex;
      background-color: white;
      width: 82.9vw;
      height: 90%;
      margin: 5% 3% 10% 3%;
      //  margin: 14% 3% 14% 3%;
      .logo {
        width: 8.9vw;
        display: inline-block;
      }

      .logo.style01 {
        margin: 1.9vw 0 0 1.7vw;
      }
    }

    .white-screen02 {
      display: grid;
      background-color: white;
      width: 82.9vw;
      height: 110%;
      margin: 14% 3% 14% 3%;
      .logo {
        width: 8.9vw;
        display: inline-block;
      }
      .logo.style02 {
        margin: 3vw 37.6vw;
      }
    }
  }

  a {
    height: 0;
  }
}
.complete {
  .logo2 {
    width: 6.8vw;
    margin-top: 10.1vw;
    margin-bottom: 6.4vw;
    margin-left: 38.2vw;
    margin-right: 38.2vw;
  }
}

.TemplateBlock,
.TemplateBlock2 {
  .basicImage {
    width: 32.3vw;
  }
}

.findBlock,
.loginBlock,
.findauth,
.registerBlock,
.registerauth {
  .inputBox {
    .inputCell {
      width: 26.8vw;
      height: 3.7vw;
      outline: none;
      border: none;
      border-bottom: 0.2vw solid $gray;
      margin-bottom: 0.7vw;
    }

    .inputCell:hover {
      border-bottom: 0.2vw solid $blue;
    }
  }
}
.complete {
  .buttonsection {
    margin: 0vw;
    margin: 2.8vw 26.3vw 9vw 26.4vw;
  }
}

.buttonsection02 {
  margin: 0vw;
  margin: 3.6vw 30.8vw 7.8vw 30.8vw;
}
