$blue: #66a7ff;
$gray: #c1c1c1;
$darkgray: #535353;
$darkblue: #2b71f3;

.loginBlock {
  margin-left: 8.3vw;
  width: 26.8vw;
  .h101 {
    margin: 0;
    margin-bottom: 5.2vw;
    width: 26.8vw;
  }

  .inputBox {
    .h501 {
      text-align: left;
      font-weight: 500;
      margin: 0%;
    }
  }
  .error-msg {
    color: red;
    font-size: 10px;
    text-align: center;
  }
  .login-btn {
    margin-top: 2.1vw;
    width: 26.8vw;
    height: 7.5vh;
    border-radius: 2.1vw;
    font-size: 1.3vw;
    background-color: $darkblue;
    color: white;
  }
}

.loginFooter {
  text-align: center;
  margin-top: 0.5vh;
  .text {
    display: inline;
    text-align: center;
    font-size: 1vw;
    font-weight: 400;
    width: 26.8vw;
    color: $darkgray;
  }
}
