.registerBlock {
  margin-left: 8.7vw;
  width: 26.8vw;
  .h201 {
    margin: 0;
    margin-bottom: 3.3vw;
    width: 26.8vw;
  }

  .inputBox {
    .h502 {
      text-align: left;
      margin: 0%;
    }
  }

  .privacy{
    .h601{
      font-size: 12px;
      text-decoration: underline;
    }
  }
}
