$blue: #66a7ff;
$darkblue: #2b71f3;
.registerBlock {
  margin-left: 8.7vw;
  width: 26.8vw;
  .h201 {
    margin: 0;
    margin-bottom: 3.3vw;
    width: 26.8vw;
  }

  .inputBox {
    .h502 {
      font-weight: 500;
      text-align: left;
      margin: 0%;
    }
  }

  .privacy {
    .h601 {
      font-size: 12px;
      text-decoration: underline;
      font-weight: 500;
    }
  }

  .checkbtn {
    margin-bottom: 1.1vw;
    width: 26.8vw;
    height: 7vh;
    border: solid $blue;
    border-radius: 2.1vw;
    font-size: 1.3vw;
    background-color: $darkblue;
    color: white;
  }
}
