$lightblue: #0070ef;

.complete {
  margin: 0 auto;
  text-align: center;
  margin-top: 150px;
  width: 1194px;
  .completeImg {
    width: 98px;
    margin: 0 124px 60px 123px;
  }
  .greeting {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.46;
    letter-spacing: -0.52px;
    text-align: center;
    color: #535353;
  }

  .caution {
    text-align: center;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: -0.28px;
    color: #707070;
    .black {
      margin: 0px;
      margin-top: 10px;
      font-weight: 300;
    }

    .blue {
      color: $lightblue;
      line-height: 0;
      font-weight: 300;
    }
  }
  .buttonsection {
    text-align: center;
    margin: 0 auto;
    .login-btn {
      color: white;
      width: 255px;
      height: 45px;
      margin: 67px 57px 6px 58px;
      border-radius: 23px;
      background-color: #0070ef;
      font-size: 18px;
    }
  }
}
