$lightblue: #0070ef;

.h301 {
  font-weight: 100;
  text-align: center;
  margin: 0;
}

.h504 {
  margin: 0px;
  margin-top: 10px;
}

.h505 {
  color: $lightblue;
  line-height: 0;
}

.caution {
  text-align: center;
}
